@import '../../../styles/_vars';
@import '../../../styles/_mixins';

.filter {
  margin-bottom: 20px;
}
.Posts {
  .Post {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .Post {
      margin-top: 20px;
    }

    .PostName {
      @include h2;
    }
  }
  .more {
    margin-top: 15px;
  }
}
